@import url("./../../fonts/Poppins-Regular.ttf");
@import url("./../../fonts/Autography.otf");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.inicio .text-conteiner .titulo-inicio {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 32px;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 20%;
  letter-spacing: 5px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none; }
  *::selection {
    background-color: #E9424A;
    color: #fce0e1; }
    *::selection::-webkit-scrollbar-thumb {
      height: 2rem;
      width: 1rem; }
      *::selection::-webkit-scrollbar-thumb::-webkit-scrollbar {
        color: #fce0e1;
        background-color: #E9424A;
        border-radius: 5px; }

.header {
  height: 20vh;
  padding: 5px 10%;
  margin: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 15px; }
  .header .logo {
    display: flex;
    height: 70px;
    width: auto;
    justify-content: space-evenly; }
    .header .logo .logo-img {
      height: 60px;
      margin-right: 20px;
      margin-left: 23px;
      margin-bottom: 20px;
      background-image: url(./images/logo/alborotando/ideas/sin/fondo.png); }
    .header .logo .tipo-logo {
      display: flex;
      height: 70px;
      flex-direction: column; }
      .header .logo .tipo-logo .texto-logo {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        color: #E9424A;
        margin-left: 10px;
        transform: translateY(-100); }
      .header .logo .tipo-logo .titulos {
        font-family: "Autography";
        font-size: 40px;
        color: #000; }

.inicio {
  display: flex;
  background-color: #fce0e1;
  height: 90vh; }
  .inicio .imagen {
    height: 90vh;
    width: 70%;
    object-fit: cover; }
  .inicio .text-conteiner {
    display: flex;
    color: #ff7077;
    flex-direction: column; }
    .inicio .text-conteiner .texto-inicio {
      font-family: "Poppins", sans-serif;
      text-align: left;
      font-size: 16px;
      margin-left: 15%;
      margin-right: 15%; }
    .inicio .text-conteiner .redes-sociales {
      display: flex;
      flex-direction: row;
      margin-left: 15%;
      margin-right: 15%;
      align-content: space-around; }
      .inicio .text-conteiner .redes-sociales .rrss {
        width: 40px;
        height: 40px;
        margin-right: 4%;
        margin-top: 4%; }

.grid-ideas {
  display: flex;
  flex-direction: row;
  height: 70vh; }
  .grid-ideas .letra {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    width: 20%; }
    .grid-ideas .letra .letra-i {
      height: 100%; }
      .grid-ideas .letra .letra-i:hover {
        transform: scale(0.8); }
    .grid-ideas .letra .letra-d {
      height: 90%; }
      .grid-ideas .letra .letra-d:hover {
        transform: scale(1.2); }
    .grid-ideas .letra .letra-e {
      height: 80%; }
      .grid-ideas .letra .letra-e.letra-e:hover {
        transform: scale(1.1); }
    .grid-ideas .letra .letra-a {
      height: 90%; }
      .grid-ideas .letra .letra-a.letra-a:hover {
        transform: scale(0.6); }
    .grid-ideas .letra .letra-s {
      height: 100%; }
      .grid-ideas .letra .letra-s.letra-s:hover {
        transform: scale(0.8); }
    .grid-ideas .letra .titulo-letra {
      position: absolute;
      display: block;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      color: #ff7077;
      writing-mode: vertical-rl;
      text-decoration: none; }

.piedepagina {
  width: 100%;
  height: 400px;
  background-image: url("./../../images/fondo footer.png");
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .piedepagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between; }
    .piedepagina .grupo1 .tipo-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px; }
      .piedepagina .grupo1 .tipo-logo .logo-img {
        height: 60px;
        margin-bottom: 5px; }
      .piedepagina .grupo1 .tipo-logo .texto-logo {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: #E9424A;
        transform: translateY(-100); }
      .piedepagina .grupo1 .tipo-logo .titulos {
        font-family: "Autography";
        font-size: 16px;
        color: #ffff; }
    .piedepagina .grupo1 .text-footer h2 {
      color: #845558;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      margin-bottom: 25px;
      margin-left: 50px; }
    .piedepagina .grupo1 .text-footer h3 {
      color: #845558;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-bottom: 10px;
      margin-left: 50px; }
    .piedepagina .grupo1 .text-footer p {
      color: #845558;
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      margin-bottom: 25px;
      margin-left: 50px; }
    .piedepagina .grupo1 .box h2 {
      color: #845558;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-bottom: 10px;
      margin-right: 50px; }
  .piedepagina .grupo2 {
    background-color: #845558;
    padding: 15px 10px;
    text-align: center;
    color: #fce0e1; }

.container-modal1 {
  background-color: #845558db;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0; }
  .container-modal1.container-modal1:target {
    visibility: visible;
    opacity: 1; }
  .container-modal1 .popup1 {
    background-color: #fce0e1;
    box-shadow: 0px 0px 5px 0px rgba(252, 224, 225, 0);
    border-radius: 3px;
    font-family: "Autography";
    padding: 20 px;
    text-align: left;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row; }
    .container-modal1 .popup1 .imgmodal1 {
      height: 100%; }
    .container-modal1 .popup1 .text-modal1 {
      font-family: "Poppins", sans-serif;
      text-align: left;
      font-size: 20px;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%; }
      .container-modal1 .popup1 .text-modal1 .h1 {
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 50px; }
    .container-modal1 .popup1 .btn-close-popup {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 50px;
      top: 50px;
      padding: 20px;
      font-size: 16px;
      line-height: 10px;
      display: block;
      text-align: right;
      color: #fce0e1;
      background-color: black;
      border-radius: 50%;
      text-decoration: none; }

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20 px;
  margin-bottom: 10%; }
  .grid-galeria .item-galeria {
    position: relative;
    height: 80vh;
    cursor: pointer; }
    .grid-galeria .item-galeria .img-galeria {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 500ms; }
    .grid-galeria .item-galeria:hover > .capa {
      opacity: 1;
      visibility: visible; }
  .grid-galeria .capa {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.535);
    opacity: 0;
    visibility: hidden;
    color: #fce0e1;
    text-align: center; }
    .grid-galeria .capa h3 {
      margin-top: 40%;
      font-size: 100px;
      font-family: "Autography"; }

.suscripcion {
  background-color: #fce0e1;
  width: 80%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 20px;
  flex-direction: column; }
  .suscripcion .text-sus {
    font-family: "Poppins", sans-serif;
    font-size: 6px;
    text-align: center; }
    .suscripcion .text-sus form {
      flex-direction: column;
      width: 100%; }
      .suscripcion .text-sus form .contenedor_inputs {
        width: 100%;
        margin-bottom: 20px;
        line-height: 40px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #ffff;
        border-radius: 5px; }
      .suscripcion .text-sus form .btn-submit {
        height: 30px;
        padding: 0 20px;
        background-color: #E9424A;
        color: #ffff;
        font-size: 16px;
        border: none;
        border-radius: 5px; }

.galeria {
  height: 100%; }

.titulo-galeria {
  position: absolute;
  background-color: black;
  color: #ffff;
  padding: 2%;
  margin: 0%;
  font-family: logo;
  font-size: 12px;
  bottom: 20%; }

@media screen and (max-width: 900px) {
  .popup1 {
    flex-direction: column;
    height: 100%;
    max-height: 800px; }
  .imgmodal1 {
    width: 100%;
    height: 40%; }
  .text-modal1 {
    width: 100%;
    height: 60%;
    padding: 80px; } }

.img {
  align-items: center; }

.portada {
  width: 100%;
  content: url(./images/portada.jpg); }

.tabnav {
  width: 100%;
  color: #f5cf83; }

.navmenu {
  display: flex;
  flex-direction: row;
  background-color: #ffaeb2;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  align-items: center;
  text-decoration: none; }

.itemmenu {
  display: flex;
  justify-content: end;
  color: #ffff;
  font-family: logo;
  font-size: 16px; }

@media (hover: hover) {
  .itemmenu:hover {
    color: #E9424A; } }

.itemmenu:active {
  color: #E9424A; }

.titulos {
  font-family: titulos;
  font-size: 40px;
  color: #000; }

.texto {
  display: flex;
  justify-content: center;
  font-family: textos;
  font-size: 16px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%; }

.trabajos {
  font-family: textos;
  font-size: 14px;
  height: 5%; }

.card_image_alta {
  width: 100%;
  height: 50%; }
