@import url("./../../fonts/Poppins-Regular.ttf");
@import url("./../../fonts/Autography.otf");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.inicio .text-conteiner .titulo-inicio {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 32px;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 20%;
  letter-spacing: 5px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none; }
  *::selection {
    background-color: #E9424A;
    color: #fce0e1; }
    *::selection::-webkit-scrollbar-thumb {
      height: 2rem;
      width: 1rem; }
      *::selection::-webkit-scrollbar-thumb::-webkit-scrollbar {
        color: #fce0e1;
        background-color: #E9424A;
        border-radius: 5px; }

.a {
  text-decoration: none; }

.logo {
  text-decoration: none; }

.header {
  height: 150px;
  padding: 5px 10%;
  margin: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 15px;
  text-decoration: none;
  position: sticky;
  top: 0;
  background-color: #ffff;
  width: 100%; }
  .header .logo {
    display: flex;
    height: 70px;
    width: auto;
    justify-content: space-evenly; }
    .header .logo .logo-img {
      height: 60px;
      margin-right: 20px;
      margin-left: 23px;
      margin-bottom: 20px;
      background-image: url(./images/logo/alborotando/ideas/sin/fondo.png); }
    .header .logo .tipo-logo {
      display: flex;
      height: 70px;
      flex-direction: column;
      text-decoration: none; }
      .header .logo .tipo-logo .texto-logo {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        color: #E9424A;
        margin-left: 10px;
        transform: translateY(-100); }
      .header .logo .tipo-logo .titulos {
        font-family: "Autography";
        font-size: 40px;
        color: #000; }

@media screen and (max-width: 800px) {
  .header {
    height: 100px; } }

.inicio {
  display: flex;
  background-color: #fce0e1;
  height: 90vh;
  width: 100%; }
  .inicio .imagen {
    height: 90vh;
    width: 70%;
    object-fit: cover; }
  .inicio .text-conteiner {
    display: flex;
    width: 100vh;
    color: #ff7077;
    flex-direction: column; }
    .inicio .text-conteiner .texto-inicio-blog {
      font-family: "Poppins", sans-serif;
      text-align: left;
      font-size: 16px;
      margin-left: 15%;
      margin-right: 15%; }
    .inicio .text-conteiner .texto-inicio {
      font-family: "Poppins", sans-serif;
      text-align: left;
      font-size: 16px;
      margin-left: 15%;
      margin-right: 15%; }
    .inicio .text-conteiner .redes-sociales {
      display: flex;
      flex-direction: row;
      margin-left: 15%;
      margin-right: 15%;
      align-content: space-around; }
      .inicio .text-conteiner .redes-sociales .rrss {
        width: 30px;
        height: 30px;
        margin-right: 4%;
        margin-top: 4%;
        margin-right: 4%; }

@media screen and (max-width: 1000px) {
  .inicio {
    flex-direction: column; }
    .inicio .imagen {
      width: 100%;
      height: 40vh; }
    .inicio .text-conteiner {
      width: 800px; }
      .inicio .text-conteiner .titulo-inicio {
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 50%;
        font-size: 24px; }
      .inicio .text-conteiner .texto-inicio {
        width: 80%;
        margin-top: 0%;
        margin-left: 10%;
        margin-right: 10vh;
        right: 10%;
        font-size: 24px; }
      .inicio .text-conteiner .texto-inicio-blog {
        width: 80%;
        margin-top: 0%;
        margin-left: 10%;
        margin-right: 10vh;
        right: 10%;
        font-size: 24px; }
      .inicio .text-conteiner .redes-sociales {
        margin-top: 0%;
        margin-left: 10%;
        padding: 0%; } }

@media screen and (max-width: 720px) {
  .inicio {
    flex-direction: column; }
    .inicio .imagen {
      width: 100%;
      height: 40vh; }
    .inicio .text-conteiner {
      width: 500px; } }

@media screen and (max-width: 450px) {
  .inicio {
    flex-direction: column; }
    .inicio .imagen {
      width: 100%;
      height: 40vh; }
    .inicio .text-conteiner {
      width: 300px; } }

.grid-ideas {
  display: flex;
  flex-direction: row;
  height: 70vh;
  text-decoration: none; }
  .grid-ideas .letra {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    width: 20%; }
    .grid-ideas .letra .letra-i {
      height: 100%; }
      .grid-ideas .letra .letra-i:hover {
        transform: scale(0.8); }
    .grid-ideas .letra .letra-d {
      height: 90%; }
      .grid-ideas .letra .letra-d:hover {
        transform: scale(1.2); }
    .grid-ideas .letra .letra-e {
      height: 80%; }
      .grid-ideas .letra .letra-e.letra-e:hover {
        transform: scale(1.1); }
    .grid-ideas .letra .letra-a {
      height: 90%; }
      .grid-ideas .letra .letra-a.letra-a:hover {
        transform: scale(0.6); }
    .grid-ideas .letra .letra-s {
      height: 100%; }
      .grid-ideas .letra .letra-s.letra-s:hover {
        transform: scale(0.8); }
    .grid-ideas .letra .titulo-letra {
      text-decoration: none;
      display: block;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      color: #ff7077; }

@media screen and (max-width: 1200px) {
  .grid-ideas .letra {
    width: 20%;
    height: 50%; }
    .grid-ideas .letra .titulo-letra {
      writing-mode: vertical-lr; } }

@media screen and (max-width: 720px) {
  .grid-ideas .letra {
    width: 20%;
    height: 30%; } }

.piedepagina {
  width: 100%;
  height: 400px;
  background-image: url("./../../images/fondo footer.png");
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .piedepagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between; }
    .piedepagina .grupo1 .tipo-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px; }
      .piedepagina .grupo1 .tipo-logo .logo-img {
        height: 60px;
        margin-bottom: 5px; }
      .piedepagina .grupo1 .tipo-logo .texto-logo {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: #E9424A;
        transform: translateY(-100); }
      .piedepagina .grupo1 .tipo-logo .titulos {
        font-family: "Autography";
        font-size: 16px;
        color: #ffff; }
    .piedepagina .grupo1 .text-footer h2 {
      color: #845558;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      margin-bottom: 25px;
      margin-left: 50px; }
    .piedepagina .grupo1 .text-footer h3 {
      color: #845558;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-bottom: 10px;
      margin-left: 50px; }
    .piedepagina .grupo1 .text-footer p {
      color: #845558;
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      margin-bottom: 25px;
      margin-left: 50px; }
    .piedepagina .grupo1 .box h2 {
      color: #845558;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-bottom: 10px;
      margin-right: 50px; }
  .piedepagina .grupo2 {
    background-color: #845558;
    padding: 15px 10px;
    text-align: center;
    color: #fce0e1; }

@media screen and (max-width: 480px) {
  .piedepagina {
    flex-direction: column; } }

.container-modal1 {
  background-color: #845558db;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0; }
  .container-modal1.container-modal1:target {
    visibility: visible;
    opacity: 1; }

.popup {
  background-color: #fce0e1;
  box-shadow: 0px 0px 5px 0px rgba(252, 224, 225, 0);
  border-radius: 3px;
  padding: 20 px;
  text-align: left;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: row; }
  .popup .imgmodal {
    height: 100%; }
  .popup .text-modal {
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%; }
    .popup .text-modal .h3 {
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      padding-bottom: 30vh; }
    .popup .text-modal .p {
      font-size: 14px;
      padding: 15%; }
  .popup .btn-close-popup {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 20px;
    font-size: 16px;
    line-height: 10px;
    display: block;
    text-align: right;
    color: #fce0e1;
    background-color: black;
    border-radius: 50%;
    text-decoration: none;
    font-family: "Poppins", sans-serif; }

.container-modal2 {
  background-color: #845558db;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0; }
  .container-modal2.container-modal2:target {
    visibility: visible;
    opacity: 1; }

.container-modal3 {
  background-color: #845558db;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0; }
  .container-modal3.container-modal3:target {
    visibility: visible;
    opacity: 1; }

.container-modal4 {
  background-color: #845558db;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0; }
  .container-modal4.container-modal4:target {
    visibility: visible;
    opacity: 1; }

.container-modal5 {
  background-color: #845558db;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0; }
  .container-modal5.container-modal5:target {
    visibility: visible;
    opacity: 1; }

.accordion {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%; }
  .accordion .accordion-header {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    letter-spacing: 5px; }
  .accordion .accordion-collapse {
    border-color: none; }
    .accordion .accordion-collapse .accordion-body {
      font-family: "Poppins", sans-serif;
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 14px; }
      .accordion .accordion-collapse .accordion-body .imgblog1 {
        margin-left: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 3%;
        width: 70%; }

@media screen and (max-width: 1200px) {
  .container-modal1 {
    flex-direction: column;
    width: 100%; }
    .container-modal1 .popup {
      flex-direction: column;
      width: 100vh; }
      .container-modal1 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1000px) {
  .accordion {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%; }
    .accordion .accordion-header {
      font-size: 60px; }
    .accordion .accordion-collapse .accordion-body {
      font-family: "Poppins", sans-serif;
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 24px; }
  .container-modal1 {
    flex-direction: column;
    width: 100%; }
    .container-modal1 .popup {
      flex-direction: column;
      width: 70vh; }
      .container-modal1 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 650px) {
  .container-modal1 {
    flex-direction: column;
    width: 100%; }
    .container-modal1 .popup {
      flex-direction: column;
      width: 40vh; }
      .container-modal1 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1200px) {
  .container-modal2 {
    flex-direction: column;
    width: 100%; }
    .container-modal2 .popup {
      flex-direction: column;
      width: 100vh; }
      .container-modal2 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1000px) {
  .container-modal2 {
    flex-direction: column;
    width: 100%; }
    .container-modal2 .popup {
      flex-direction: column;
      width: 70vh; }
      .container-modal2 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 650px) {
  .container-modal2 {
    flex-direction: column;
    width: 100%; }
    .container-modal2 .popup {
      flex-direction: column;
      width: 40vh; }
      .container-modal2 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1200px) {
  .container-modal3 {
    flex-direction: column;
    width: 100%; }
    .container-modal3 .popup {
      flex-direction: column;
      width: 100vh; }
      .container-modal3 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1000px) {
  .container-modal3 {
    flex-direction: column;
    width: 100%; }
    .container-modal3 .popup {
      flex-direction: column;
      width: 70vh; }
      .container-modal3 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 650px) {
  .container-modal3 {
    flex-direction: column;
    width: 100%; }
    .container-modal3 .popup {
      flex-direction: column;
      width: 40vh; }
      .container-modal3 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1200px) {
  .container-modal4 {
    flex-direction: column;
    width: 100%; }
    .container-modal4 .popup {
      flex-direction: column;
      width: 100vh; }
      .container-modal4 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1000px) {
  .container-modal4 {
    flex-direction: column;
    width: 100%; }
    .container-modal4 .popup {
      flex-direction: column;
      width: 70vh; }
      .container-modal4 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 650px) {
  .container-modal4 {
    flex-direction: column;
    width: 100%; }
    .container-modal4 .popup {
      flex-direction: column;
      width: 40vh;
      height: 90vh; }
      .container-modal4 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1200px) {
  .container-modal5 {
    flex-direction: column;
    width: 100%; }
    .container-modal5 .popup {
      flex-direction: column;
      width: 100vh; }
      .container-modal5 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 1000px) {
  .container-modal5 {
    flex-direction: column;
    width: 100%; }
    .container-modal5 .popup {
      flex-direction: column;
      width: 70vh; }
      .container-modal5 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

@media screen and (max-width: 650px) {
  .container-modal5 {
    flex-direction: column;
    width: 100%; }
    .container-modal5 .popup {
      flex-direction: column;
      width: 40vh; }
      .container-modal5 .popup .imgmodal {
        height: 50%;
        object-fit: cover; } }

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20 px; }
  .grid-galeria .item-galeria {
    position: relative;
    height: 90vh;
    cursor: pointer; }
    .grid-galeria .item-galeria .img-galeria {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 500ms; }
    .grid-galeria .item-galeria:hover > .capa {
      opacity: 1;
      visibility: visible; }
  .grid-galeria .capa {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.535);
    opacity: 0;
    visibility: hidden;
    color: #fce0e1;
    text-align: center; }
    .grid-galeria .capa h3 {
      margin-top: 40%;
      font-size: 100px;
      font-family: "Autography"; }
  .grid-galeria .slide {
    height: 90vh; }
    .grid-galeria .slide .carousel-item {
      height: 90vh;
      object-fit: cover; }

@media screen and (max-width: 1000px) {
  .grid-galeria {
    grid-template-columns: 1fr; }
    .grid-galeria .item-galeria {
      height: 40vh; }
    .grid-galeria .carousel {
      height: 40%; }
      .grid-galeria .carousel .carousel-item {
        width: 100%; } }

@media screen and (max-width: 500px) {
  .grid-galeria {
    grid-template-columns: 1fr; }
    .grid-galeria .item-galeria {
      height: 40vh; }
    .grid-galeria .slide {
      height: 5%; }
      .grid-galeria .slide .carousel-item {
        width: 100%; } }

.suscripcion {
  background-color: #fce0e1;
  width: 80%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 20px;
  flex-direction: column; }
  .suscripcion .text-sus {
    font-family: "Poppins", sans-serif;
    font-size: 6px;
    text-align: center;
    padding: auto; }
    .suscripcion .text-sus form {
      flex-direction: column;
      width: 100%; }
      .suscripcion .text-sus form .contenedor_inputs {
        width: 100%;
        margin-bottom: 20px;
        line-height: 40px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #ffff;
        border-radius: 5px; }
      .suscripcion .text-sus form .btn-submit {
        height: 30px;
        padding: 0 20px;
        background-color: #E9424A;
        color: #ffff;
        font-size: 16px;
        border: none;
        border-radius: 5px; }

.contacto {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .contacto .ContactoTitulo {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    letter-spacing: 5px;
    color: #E9424A; }
  .contacto .texto {
    font-family: "Poppins", sans-serif;
    font-size: 14px; }
  .contacto .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .contacto .formulario .row {
      height: 30vh;
      display: flex;
      border-radius: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contacto .formulario .row .form-control {
        color: #E9424A;
        background-color: #fce0e1;
        padding: 2%;
        width: 80vh; }
    .contacto .formulario .form-floating {
      height: 30vh;
      display: flex;
      border-radius: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contacto .formulario .form-floating .form-control {
        color: #E9424A;
        background-color: #fce0e1;
        padding: 2%;
        height: 30vh;
        margin-bottom: 50px;
        width: 80vh; }
    .contacto .formulario .btn-submit {
      height: 8vh;
      width: 30vh;
      background-color: #E9424A;
      color: #ffff;
      font-size: 16px;
      border: none;
      border-radius: 5px; }

@media screen and (max-width: 1000px) {
  .contacto .ContactoTitulo {
    font-size: 30px; }
  .contacto .texto {
    font-size: 30px; }
  .contacto .formulario .row .form-control {
    width: 60vh;
    font-size: 24px;
    margin-bottom: 30px;
    padding: 5%; }
  .contacto .formulario .form-floating {
    width: 60vh;
    font-size: 24px; }
    .contacto .formulario .form-floating .form-control {
      width: 60vh;
      height: 50vh;
      margin-bottom: 30px; }
  .contacto .formulario .btn-submit {
    font-size: 36px; } }

@media screen and (max-width: 600px) {
  .contacto .ContactoTitulo {
    font-size: 30px; }
  .contacto .texto {
    font-size: 30px; }
  .contacto .formulario .row .form-control {
    width: 20vh;
    font-size: 36px;
    margin-bottom: 30px;
    padding: 5%; }
  .contacto .formulario .form-floating {
    width: 20vh;
    font-size: 24px; }
    .contacto .formulario .form-floating .form-control {
      width: 20vh;
      height: 50vh;
      margin-bottom: 30px;
      font-size: 36px; }
  .contacto .formulario .btn-submit {
    font-size: 36px; } }

.fondo {
  background-color: #fce0e1;
  width: 80%;
  display: flex;
  margin: auto;
  border-radius: 20px;
  flex-direction: column;
  margin-bottom: 5%; }
  .fondo .texto-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 8%;
    padding-bottom: 8%; }
    .fondo .texto-info .titulos {
      font-family: "Poppins", sans-serif;
      font-size: 32px;
      letter-spacing: 5px;
      color: #E9424A; }
    .fondo .texto-info .texto {
      font-family: "Poppins", sans-serif;
      font-size: 14px; }
    .fondo .texto-info .negrita {
      font-family: "Poppins", sans-serif;
      font-size: 14px; }
    .fondo .texto-info .subtitulo {
      font-family: "Autography";
      font-size: 30px; }

@media screen and (max-width: 800px) {
  .texto {
    font-size: 36px; }
  .negrita {
    font-size: 24px; } }
