.inicio {
    display: flex;
    background-color:$secondaryColor;
    height: 90vh;

    .imagen{
        height: 90vh;
        width: 70%;
        object-fit: cover;
    }
    .text-conteiner{
        display: flex;
        color: $cuartoColor;
        flex-direction: column;

        .texto-inicio-blog{
            font-family: $fontpoppins;
            text-align: left;
            font-size: 16px;
            margin-left: 15%;
            margin-right: 15%;

        }

        .titulo-inicio{
            @extend %titulo
        }
        .texto-inicio{
            font-family: $fontpoppins;
            text-align: left;
            font-size: 16px;
            margin-left: 15%;
            margin-right: 15%;
        }
        .redes-sociales{
            display: flex;
            flex-direction: row;
            margin-left: 15%;
            margin-right: 15%;
            align-content: space-around;


            .rrss {
                width: 40px;
                height: 40px;
                margin-right: 4%;
                margin-top: 4%;
            }
        }
    }
}