.fondo{
    background-color: $secondaryColor;
    width: 80%;
    display: flex;
    margin: auto;
    border-radius: 20px;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 5%;

    .texto-info {
        text-align: center;
        display: flex;
        flex-direction: column;
    

    .titulos{
        font-family: $fontpoppins;
        font-size: 32px;
        margin-left: 15%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
        letter-spacing: 5px;
        color: $mainColor;
    }

    .texto{
        font-family: $fontTextos;
        font-size: 14px;
    }

    .negrita{
        font-family: $fontTextos;
        font-size: 14px;
    }
}
}