.grid-ideas{
    display: flex;
    flex-direction: row;
    height: 70vh;
    text-decoration: none;

    .letra {
        display: flex;
        justify-content: space-evenly;
        padding-top: 5%;
        width: 20%;

        .letra-i{
            height: 100%;

            &:hover{
                transform: scale(0.8);
            } } 
    .letra-d{
        height: 90%;

        &:hover{
            transform: scale(1.2);
        }}
    .letra-e{
        height: 80%;

       &.letra-e:hover{
        transform: scale(1.1);
    } } 
    .letra-a{
        height: 90%;

        &.letra-a:hover{
            transform: scale(0.6);
    }}
    .letra-s{
        height: 100%;
    
        &.letra-s:hover{
            transform: scale(0.8);
        }} 
    .titulo-letra{
        text-decoration: none;
        display: block;
        font-family: $fontpoppins;
        font-size: 20px;
        color: #ff7077;
        
    }
    }
}

@media screen and(max-width:1200px) {
    .grid-ideas{
        .letra{
            width: 20%;
            height: 50%;
            

            .titulo-letra{
                writing-mode: vertical-lr;

            }
        }
    }
}

@media screen and(max-width:720px){
    .grid-ideas{
        
        .letra{
            width: 20%;
            height: 30%;
        }

    }
}