.container-modal1{
    background-color:#845558db;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    &.container-modal1:target{
        visibility: visible;
        opacity: 1;
        
    
    }
}
.popup{
    background-color: $secondaryColor ;
    box-shadow: 0px 0px 5px 0px rgba($color: $secondaryColor, $alpha: 0.0);
    border-radius: 3px;
    padding: 20 px;
    text-align: left;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;

    .imgmodal{
        height: 100%;
    }

    .text-modal{
        font-family: $fontpoppins;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;

        .h3{
            font-size: 10px;
            font-family: $fontpoppins;
            padding-bottom: 30vh;
            
        }

        .p{
            font-size: 14px;
            padding: 15%;
        }
    }


    .btn-close-popup{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 50px;
        top: 50px;
        padding: 20px;
        font-size: 16px;
        line-height: 10px;
        display: block;
        text-align: right;
        color: $secondaryColor;
        background-color: black;
        border-radius: 50%;
        text-decoration: none;
        font-family: $fontpoppins;
    }

}

.container-modal2{
    background-color:#845558db;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    &.container-modal2:target{
        visibility: visible;
        opacity: 1;
        
    
    }
}

.container-modal3{
    background-color:#845558db;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    &.container-modal3:target{
        visibility: visible;
        opacity: 1;
        
    
    }
}

.container-modal4{
    background-color:#845558db;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    &.container-modal4:target{
        visibility: visible;
        opacity: 1;
        
    
    }
}

.container-modal5{
    background-color:#845558db;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    &.container-modal5:target{
        visibility: visible;
        opacity: 1;
        
    
    }
}

.accordion {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;

    .accordion-header{
        font-family: $fontpoppins;
        font-size: 40px;
        letter-spacing: 5px;
    }
    .accordion-collapse{
        border-color: none;

        .accordion-body{
            font-family: $fontTextos;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
            font-size: 14px;

            .imgblog1{
                margin-left: 3%;
                margin-top: 5%;
                margin-bottom: 5%;
                margin-right: 3%;
                width: 70%;
            }
        }
    }
}

@media screen and(max-width:1200px) {
    
        .container-modal1{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 100vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    
    @media screen and(max-width:1000px){
        .container-modal1{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 70vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    @media screen and(max-width:650px){
        .container-modal1{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 40vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }

    @media screen and(max-width:1200px) {
    
        .container-modal2{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 100vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    
    @media screen and(max-width:1000px){
        .container-modal2{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 70vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    @media screen and(max-width:650px){
        .container-modal2{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 40vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    @media screen and(max-width:1200px) {
    
        .container-modal3{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 100vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    
    @media screen and(max-width:1000px){
        .container-modal3{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 70vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    @media screen and(max-width:650px){
        .container-modal3{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 40vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    @media screen and(max-width:1200px) {
    
        .container-modal4{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 100vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    
    @media screen and(max-width:1000px){
        .container-modal4{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 70vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    @media screen and(max-width:650px){
        .container-modal4{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 40vh;
                height: 90vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    @media screen and(max-width:1200px) {
    
        .container-modal5{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 100vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    
    @media screen and(max-width:1000px){
        .container-modal5{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 70vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }
    @media screen and(max-width:650px){
        .container-modal5{
            flex-direction: column;
            width: 100%;

            .popup{
                flex-direction: column;
                width: 40vh;

                .imgmodal{
                    height: 50%;
                    object-fit:cover;
                }
            }
        }
    }