// TIPOGRAFIAS
@import url("./../../fonts/Poppins-Regular.ttf");
$fontpoppins: 'Poppins', sans-serif;

@import url("./../../fonts/Autography.otf");
$fontTitulos: 'Autography';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
$fontTextos: 'Poppins', sans-serif;


// / COLORES
$mainColor: #E9424A;
$secondaryColor: #fce0e1;
$tercerColor: #ffaeb2;
$cuartoColor: #ff7077;

%titulo{
    font-family: $fontpoppins;
            text-align: left;
            font-size: 32px;
            margin-left: 15%;
            margin-right: 20%;
            margin-top: 20%;
            letter-spacing: 5px;
}